body{
    background-color: rgb(230, 230, 230);
    height: 100vh;
    display: flex; 
    justify-content: center;
    align-items: center; 
    margin: 0;
}
.carousel{
    display: flex;

    overflow: hidden; 
    width: 600px;
}  
.wrap{
    display: grid; 
    grid-auto-flow: column;
    grid-auto-columns: 250px; 
    justify-items: stretch;
    animation: slide 15s linear infinite;
    
} 
.wrap img{
    width: 200px; 
    height: 200px; 
    border-radius: 15px;
    object-fit: cover;
}
@keyframes slide{
    from {
        transform: translateX(0);
      }
      to {
        transform: translateX(-100%);
      }
}

@media (max-width: 768px) {
    .carousel {
        width: 100%;
    }

    .wrap img {
        width: 150px;
        height: 150px;
    }
}
